#name{
    background: linear-gradient(to left,
    violet, indigo, blue, green , yellow , orange , red );
    background-clip: text;
    display: inline;
    color:  transparent;
    animation: colorFlow 5s linear;
}

@keyframes colorFlow{
    to {background-position-x: 161px;}
}