#name{
    background: linear-gradient(to left,
    #C40C0C, #FF6500, #FF8A08, #FFC100 );
    background-clip: text;
    display: inline;
    color:  transparent;
    animation: colorFlow 5s linear;
}

@keyframes colorFlow{
    to {background-position-x: 161px;}
}